
  
    
      <header>         
        <div class="cover jumbotron">
          <h1>Head Uksed</h1>
          <h2><%= t ".cover-date" %></h2>
        </div>
      </header>
      <div id="about">  
        <div class="row">
          <div class="col-xs-12 center"> 
            <h1><%= t ".about-title" %></h1>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-box">
              <div class="text-box">
                <p><%= t ".order" %></p>
              </div><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a></div>
          <div class="icon-box">
            <div class="text-box">
              <p><%= t ".study" %></p>
            </div><span aria-hidden="true" class="glyphicon glyphicon-option-horizontal"></span>
          </div>
          <div class="icon-box">
            <div class="text-box">
              <p><%= t ".deliver" %></p>
            </div><span aria-hidden="true" class="glyphicon glyphicon-send"></span>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container"> 
          <div class="row"> 
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-1"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-2"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-3">             </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-4"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-5"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="profile">  
        <div class="profile-pic">                   
         <%= image_tag("arina2.jpg", :alt => "Valentine Vesman") %>
        <div class="profile-text">
          <p><%= t ".profile-text" %></p>
        </div>
      </div>
  



